 
  * {
    box-sizing: border-box;
  }

  .hide {
    display: none;
  }
  .navDiv {
    max-width: 300px;
          padding: 20px;
          margin: auto;
          border-radius: 10px;
          background-color: rgb(5, 5, 5);
          color:aqua
  }
  .navHead {
    padding: 0px 6px 0px 6px;
    border-radius: 5px;
  }

  .navHead:hover {
    cursor: pointer;
    background-color: aliceblue;
    color:black
  }
  a {
    text-decoration: none;
    color: white;
  }
  li a:hover {
    color:aqua
  }