<form action="/file/fileProcess_2" method="POST">
  <div class="container mt-4">
    <div class="container mt-2" style="width: 500px">
      <div class="row mt-3">
        <div class="col-lg-4">
          <h6><label for="Type">Product Type</label></h6>
        </div>
        <div class="col-lg-8">
          <!-- <input type="text" class="form-control" name="Type" placeholder="Type" value="<% if (locals.message != null) {%><%= message.Type %><% } %>" required> -->
          <div class="form-group">
            <select class="form-control" id="Type" name="Type">
              <option>Select Product Type</option>
              <option value="Refrigerator & Freezer">
                Refrigerator & Freezer
              </option>
              <option value="Television">Television</option>
              <option value="Air Conditioner">Air Conditioner</option>
              <option value="Mobile">Mobile</option>
              <option value="Computer">Computer</option>
              <option value="Washing Machine">Washing Machine</option>
              <option value="Oven">Microwave & Electric Oven</option>
              <!-- <option value="Blender">Blender & Grinder</option> -->
              <option value="HAP">Home Appliances</option>
              <option value="KAP">Kitchen Appliances</option>
              <option value="Fan">Fan</option>
              <option value="Light">LED Light</option>
              <option value="ElectricalAccess">Electrical Accessories</option>
              <option value="Cables">Cables</option>
              <option value="E-Bike">E-Bike</option>
              <option value="Compressor">Compressor</option>
              <option value="Battery">Battery</option>
              <option value="Hardware & Sanitary Solutions">
                Hardware & Sanitary Solutions
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-3" id="hiddenDiv"></div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <h6><label for="Title">Model</label></h6>
        </div>
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            name="Title"
            placeholder="Model"
            value="<% if (locals.message != null) {%><%= message.Title %><% } %>"
            required
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <h6><label for="brand">Brand</label></h6>
        </div>
        <div class="col-lg-8">
          <div class="form-group">
            <select class="form-control" name="brand">
              <option>Select Brand</option>
              <option value="Walton">Walton</option>
              <option value="Vision">Vision</option>
              <option value="Samsung">Samsung</option>
              <option value="Gree">Gree</option>
              <option value="Singer">Singer</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <h6><label for="color">Color</label></h6>
        </div>
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            name="color"
            placeholder="Color"
            value="<% if (locals.message != null) {%><%= message.color %><% } %>"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <h6><label for="Qty">Quantity</label></h6>
        </div>
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            name="Qty"
            placeholder="Quantity"
            value="<% if (locals.message != null) {%><%= message.Qty %><% } %>"
          />
        </div>
      </div>
      <div class="container d-flex justify-content-end mt-4 mr-3">
        <input
          class="btn btn-success mr-2"
          name="submit"
          type="submit"
          value="Upload"
        />
      </div>
    </div>
  </div>
</form>


<script>
   $.ajax({
          url: '/purchase/check_bc',
          type: 'POST',
          dataType: "json",
          data: {barcode_ : JSON.stringify(bc)},
          success: (data) => {
            if (data.existingBc !== "BC_OK") {
              $("#existingBcDiv").show()
              $("#existingbc").text(data.existingBc)
              if (purchaseData.length > 0) {
                      let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td>
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td>  
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      let netPurchase = Number(qty) * Number(pur_rate)
                      let tpr = $("#TPR").text()
                      let tprNum = Number(tpr)
                      netPurchase += tprNum;
                      $("#TPR").text(netPurchase)
                    } 
                    return
            } else {
                let pur_date = $('#pur_date').val()
                let challan = $('#challan').val()
                let invoice = $('#invoice').val()
                let supplier = $('#supplier').val()
                let model = $('#model_selected').val()
                let qty = $('#qty').val()
                let godown = $('#godown').val()
                let color = $('#color').val()
                let prev_stock = $('#prev_stock').val()
                let pur_rate = $('#pur_rate').val()
                let mrp = $('#mrp').val()
                let disc_per = $('#disc_per').val()
                let flat_disc = $('#flat_disc').val()

              let product = [model, qty, bc, pur_date, invoice, supplier, godown, color, prev_stock, pur_rate, mrp, disc_per, flat_disc, "+"]

              $('#model_selected').val("")
              $('#qty').val("")
              $('#disc_per').val("")
              $('#flat_disc').val("")
              $('#pur_rate').val("")
              $('#mrp').val("")
              $('#barcode').empty();
              $("#addedModel").empty();

              if (purchaseData.length > 0) {
                for (let i = 0; i < purchaseData.length; i++) {
                  const e = purchaseData[i];
                  // alert(e)
                  if (e[0] == model) {
                    alert("This model already exist in your order!")
                    let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td>
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td>  
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      let netPurchase = Number(qty) * Number(pur_rate)
                      let tpr = $("#TPR").text()
                      let tprNum = Number(tpr)
                      netPurchase += tprNum;
                      $("#TPR").text(netPurchase)
                      return;
                  }
                }
                pushProduct(product)
                let count = 1
                for (let i = 0; i < purchaseData.length; i++) {
                  const e = purchaseData[i];
                  $("#addedModel").append(`
                    <tr id="${i}">
                      <td>
                        ${count}
                      </td> 
                      <td>
                        ${e[0]}
                      </td>  
                      <td>
                        ${e[6]}
                      </td> 
                      <td>
                        ${e[1]}
                      </td>
                      <td>
                        ${e[10]}
                      </td>
                      <td>
                        ${e[11]}
                      </td> 
                      <td>
                        ${e[12]}
                      </td>  
                      <td>
                        ${e[9]}
                      </td> 
                      <td>
                        <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                      </td>
                    </tr>
                  `)
                  count++
                }
                let netPurchase = Number(qty) * Number(pur_rate)
                let tpr = $("#TPR").text()
                let tprNum = Number(tpr)
                netPurchase += tprNum;
                $("#TPR").text(netPurchase)
              } else {
                pushProduct(product)
                let count = 1
                for (let i = 0; i < purchaseData.length; i++) {
                  const e = purchaseData[i];
                  $("#addedModel").append(`
                    <tr id="${i}">
                      <td>
                        ${count}
                      </td> 
                      <td>
                        ${e[0]}
                      </td>  
                      <td>
                        ${e[6]}
                      </td> 
                      <td>
                        ${e[1]}
                      </td>
                      <td>
                        ${e[10]}
                      </td>
                      <td>
                        ${e[11]}
                      </td> 
                      <td>
                        ${e[12]}
                      </td>  
                      <td>
                        ${e[9]}
                      </td> 
                      <td>
                        <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                      </td>
                    </tr>
                  `)
                  count++
                }
                let netPurchase = Number(qty) * Number(pur_rate)
                let tpr = $("#TPR").text()
                let tprNum = Number(tpr)
                netPurchase += tprNum;
                $("#TPR").text(netPurchase)
              }
          }}
        })
        


</script>

<script>
       
                        if (data.existingBc !== "BC_OK") {
                    $("#existingBcDiv").show()
                    $("#existingbc").text(data.existingBc)
                    if (purchaseData.length > 0) {
                            let count = 1
                            for (let i = 0; i < purchaseData.length; i++) {
                              const e = purchaseData[i];
                              $("#addedModel").append(`
                                <tr id="${i}">
                                  <td>
                                    ${count}
                                  </td> 
                                  <td>
                                    ${e[0]}
                                  </td>  
                                  <td>
                                    ${e[6]}
                                  </td> 
                                  <td>
                                    ${e[1]}
                                  </td>
                                  <td>
                                    ${e[10]}
                                  </td>
                                  <td>
                                    ${e[11]}
                                  </td> 
                                  <td>
                                    ${e[12]}
                                  </td>  
                                  <td>
                                    ${e[9]}
                                  </td> 
                                  <td>
                                    <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                                  </td>
                                  <td>
                                    <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                                  </td>
                                </tr>
                              `)
                              count++
                            }
                            let netPurchase = Number(qty) * Number(pur_rate)
                            let tpr = $("#TPR").text()
                            let tprNum = Number(tpr)
                            netPurchase += tprNum;
                            $("#TPR").text(netPurchase)
                          } 
                          return
                } else {
                let pur_date = $('#pur_date').val()
                let challan = $('#challan').val()
                let invoice = $('#invoice').val()
                let supplier = $('#supplier').val()
                let model = $('#model_selected').val()
                let qty = $('#qty').val()
                let godown = $('#godown').val()
                let color = $('#color').val()
                let prev_stock = $('#prev_stock').val()
                let pur_rate = $('#pur_rate').val()
                let mrp = $('#mrp').val()
                let disc_per = $('#disc_per').val()
                let flat_disc = $('#flat_disc').val()

              let product = [model, qty, bc, pur_date, invoice, supplier, godown, color, prev_stock, pur_rate, mrp, disc_per, flat_disc, "+"]

              $('#model_selected').val("")
              $('#qty').val("")
              $('#disc_per').val("")
              $('#flat_disc').val("")
              $('#pur_rate').val("")
              $('#mrp').val("")
              $('#barcode').empty();
              $("#addedModel").empty();

              if (purchaseData.length > 0) {
                for (let i = 0; i < purchaseData.length; i++) {
                  const e = purchaseData[i];
                  // alert(e)
                  if (e[0] == model) {
                    alert("This model already exist in your order!")
                    let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td>
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td>  
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      let netPurchase = Number(qty) * Number(pur_rate)
                      let tpr = $("#TPR").text()
                      let tprNum = Number(tpr)
                      netPurchase += tprNum;
                      $("#TPR").text(netPurchase)
                      return;
                  }
                }
                pushProduct(product)
                let count = 1
                for (let i = 0; i < purchaseData.length; i++) {
                  const e = purchaseData[i];
                  $("#addedModel").append(`
                    <tr id="${i}">
                      <td>
                        ${count}
                      </td> 
                      <td>
                        ${e[0]}
                      </td>  
                      <td>
                        ${e[6]}
                      </td> 
                      <td>
                        ${e[1]}
                      </td>
                      <td>
                        ${e[10]}
                      </td>
                      <td>
                        ${e[11]}
                      </td> 
                      <td>
                        ${e[12]}
                      </td>  
                      <td>
                        ${e[9]}
                      </td> 
                      <td>
                        <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                      </td>
                    </tr>
                  `)
                  count++
                }
                let netPurchase = Number(qty) * Number(pur_rate)
                let tpr = $("#TPR").text()
                let tprNum = Number(tpr)
                netPurchase += tprNum;
                $("#TPR").text(netPurchase)
              } else {
                pushProduct(product)
                let count = 1
                for (let i = 0; i < purchaseData.length; i++) {
                  const e = purchaseData[i];
                  $("#addedModel").append(`
                    <tr id="${i}">
                      <td>
                        ${count}
                      </td> 
                      <td>
                        ${e[0]}
                      </td>  
                      <td>
                        ${e[6]}
                      </td> 
                      <td>
                        ${e[1]}
                      </td>
                      <td>
                        ${e[10]}
                      </td>
                      <td>
                        ${e[11]}
                      </td> 
                      <td>
                        ${e[12]}
                      </td>  
                      <td>
                        ${e[9]}
                      </td> 
                      <td>
                        <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                      </td>
                    </tr>
                  `)
                  count++
                }
                let netPurchase = Number(qty) * Number(pur_rate)
                let tpr = $("#TPR").text()
                let tprNum = Number(tpr)
                netPurchase += tprNum;
                $("#TPR").text(netPurchase)
              }
          }
            
</script>

<script>
  for (let i = 0; i < result.length; i++) {
        const e = result[i];
        let model = e.model;
        
        if (i == 0) {
          for (let i = 0; i < allProducts.length; i++) {
            const model_2 = allProducts[i][0];
            if (model !== model_2) {
              let sql = `SELECT * FROM purchase WHERE invoice_no = "${invoice}" AND model = "${model}"`
              con.query(sql, (err, result_2) => {
                
                let qty = result_2.length;
                let bc = []
                
                for (let j = 0; j < result_2.length; j++) {
                  const e = result_2[j];
                  bc.push(e.barcode)
                }
                let product = [e.model, qty, [], e.date, e.invoice_no, e.supplier, e.godown, e.color, e.prev_stock, e.pur_rate, e.mrp, e.disc_per, e.flat_disc_amount]
                product[2] = bc;
                pushProduct(product)
                
              })
            }
          }
        } else {
          let sql = `SELECT * FROM purchase WHERE invoice_no = "${invoice}" AND model = "${model}"`
              con.query(sql, (err, result_2) => {
                
                let qty = result_2.length;
                let bc = []
                
                for (let j = 0; j < result_2.length; j++) {
                  const e = result_2[j];
                  bc.push(e.barcode)
                }
                let product = [e.model, qty, [], e.date, e.invoice_no, e.supplier, e.godown, e.color, e.prev_stock, e.pur_rate, e.mrp, e.disc_per, e.flat_disc_amount]
                product[2] = bc;
                pushProduct(product)
                // pushProducts(products)
                new Promise((resolve) => {
                  
                  resolve(products)
                }).then(() => {
                  // console.log(products)
                  // sendAllProducts()
                })
                
              })
        }
        
        
      }
      console.log(allProducts)
      // allProducts.push(products)
      function sendAllProducts() {
        console.log(products)
      }
      // res.send(result)
</script>