<body style="background-color: rgb(232, 248, 250)">
  <div class="row mt-4">
    <div class="col-3 border navDiv">
        <%- include('./partials/navbar.ejs') %>
    </div>
    <div class="col">
      <div class="container">
        <h4>Existing Sales Order</h4>
        <hr />
      </div>
      <div class="container result mt-2">
        <%- include('./partials/successMsg.ejs') %>
        <%- include('./partials/error.ejs') %>
        
      </div>
      <div class="container-fluid text-center" id="prodUpdatSuccessMsgDiv">
        <div class="alert alert-success">
          <p id="prodUpdatSuccessMsg"></p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="container-fluid d-flex">
              <button class="btn btn-outline-info" name="CreateNewButton" data-toggle="collapse" data-target="#createNew">
                Create New
              </button>
              <button class="btn btn-outline-info showChallanButton" data-toggle="collapse" data-target="#showChallan">
                All Challan
              </button>
              <button class="btn btn-outline-info purchaseReturn" data-toggle="collapse" data-target="#purchaseReturn">
                Return
              </button>
            </div>
            <div id="createNew" class="collapse mt-2" style="background-color: antiquewhite; padding-right: 15px; border-radius: 15px;">
             <!-- <form action="/purchase/new" method="POST"> -->
              
              <div class="container p-3">
                <h5>Customer Info</h5>
                <div class="row">
                  <div class="col-sm">
                    <div class="row mt-3">
                      <div class="col-lg-3 mt-2 text-right">
                          <h6><label for="model"><span style="color: red;">*</span>Customer</label></h6>
                      </div>
                      <div class="col-lg-9">
                        <div class="container">
                          <input type="text" class="form-control" name="customer" id="customer_selected" required readonly>
                          <input type="hidden" class="form-control" name="customer" id="customer_id" required readonly>
                        </div>
                           <div class="container-fluid d-flex justify-content-center">
                              <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#mymodal">Select Customer</button>
                              <!-- Modal -->
                              <div class="modal fade" id="mymodal" role="dialog">
                              <div class="modal-dialog">
                              
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="container customer_search_div">
                                    <div class="container d-flex justify-content-end customer_search">
                                      <div class="container" id="customer_search">
                                        <div class="input-group">
                                          <input id="search_customer" name="customer_search_input" type="text" class="form-control"
                                            placeholder="Search Products" />
                                          <div class="input-group-append">
                                            <button name="customer_search_submit_button" class="btn btn-info" type="submit">
                                              Search
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="container">
                                      <table class="table">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>CID</th>
                                        <th>C.Name</th>
                                        <th>Address</th>
                                        <th>Balance</th>
                                      </tr>
                                    </thead>
                                    <tbody id="customer_search_result">
                                      
                                    </tbody>
                                  </table>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                           </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="row mt-3">
                      <div class="col-lg-4 mt-2 text-right">
                          <h6><label for="balance">Balance</label></h6>
                      </div>
                      <div class="col-lg-8">
                        <input class="form-control" name="customer_balance" id="customer_balance" required readonly>
                      </div>
                    </div>
                    
                  </div>
                </div>
               <div class="container-fluid">
                <div class="row">
                  <div class="col-sm">
                    <div class="row mt-4">
                      <div class="col-lg-4 mt-2">
                          <h6><label for="address">Address</label></h6>
                      </div>
                      <div class="col-lg-8">
                        <input class="form-control" name="customer_address" id="customer_address" required readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="row mt-3">
                      <div class="col-lg-4 mt-2 text-right">
                          <h6><label for="contact">Contact</label></h6>
                      </div>
                      <div class="col-lg-8">
                        <input class="form-control" name="customer_contact" id="customer_contact" required readonly>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <div class="row mt-3">
                              <div class="col-lg-4 mt-2">
                                  <h6><label for="date"><span style="color: red;">* </span>Date</label></h6>
                              </div>
                              <div class="col-lg-8">
                                  <input type="date" class="form-control" id="sales_date" name="sales_date" placeholder="Sales Date" required>
                              </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-3 mt-2">
                        <h6><label for="model"><span style="color: red;">*</span>Model</label></h6>
                    </div>
                    <div class="col-lg-9">
                      <div class="container-fluid p-0">
                        <input type="text" class="form-control" name="model" id="model_selected" required readonly>
                        <input type="text" class="bc form-control" name="bc" readonly>
                      </div>
                         <div class="container-fluid d-flex justify-content-center p-0">
                            <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#myModal">Select Model</button>
                            <!-- <a href="/products" target="_blank" class="btn btn-sm btn-outline-info" role="button">Add Model</a> -->
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="container model_search_div">
                                  <div class="container d-flex justify-content-end model_search">
                                    <div class="container" id="model_search">
                                      <div class="input-group">
                                        <input id="search_input" name="model_search_input" type="text" class="form-control"
                                          placeholder="Search Products" />
                                        <div class="input-group-append">
                                          <button name="model_search_submit_button" class="btn btn-info" type="submit">
                                            Search
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="container">
                                    <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Pid</th>
                                      <th>Model</th>
                                      <th>Color</th>
                                      <th>MRP</th>
                                    </tr>
                                  </thead>
                                  <tbody id="model_search_result">
                                    
                                  </tbody>
                                </table>
                                  </div>
                                </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                         </div>
                    </div>
                  </div>
                  
                  <div class="row mt-3">
                    <div class="col-lg-3 mt-2 text-right">
                        <h6><label for="mrp"><span style="color: red;">* </span>MRP</label></h6>
                    </div>
                    <div class="col-lg-9">
                        <input type="number" class="form-control" name="mrp" id="mrp" required>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4 mt-2 text-right">
                        <h6><label for="sales_rate">Sales Value</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="sales_rate" id="sales_rate" readonly>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row mt-3">
                    <div class="col-lg-4 mt-2 text-right">
                        <h6><label for="invoice">Invoice</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="invoice" id="invoice">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4 mt-2 text-right">
                        <h6><label for="brand">Brand</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="brand" id="brand" readonly>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4 mt-2 text-right">
                        <h6><label for="prev_stock">Prev_stock</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="prev_stock" id="prev_stock" readonly>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4 mt-2 text-right">
                        <h6><label for="color">Color</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="color" id="color" readonly>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4 mt-2 text-right">
                        <h6><label for="disc_per">Discount Per.</label></h6>
                    </div>
                    <div class="col-lg-8">
                      <div class="container-fluid p-0">
                        <input type="number" class="form-control" name="disc_per" id="disc_per" placeholder="Discount Per." maxlength="4">
                        <input type="number" class="form-control hide" name="flat_disc" id="flat_disc" placeholder="Flat Discount">
                      </div>
                      <div class="container-fluid p-0">
                        <button class="btn btn-sm btn-outline-info hide" id="disc_button">Discount Percentage</button>
                        <button class="btn btn-sm btn-outline-info" id="flat_disc_button">Flat Discount</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-fluid">
                <!-- <button class="btn btn-sm btn-outline-info addNewBC">Add New Barcode</button> -->
                <div class="container text-center" id="existingBcDiv" style="overflow: scroll;">
                  <div class="alert alert-danger">
                    <h6>Existing Barcode found!</h6>
                    <input type="hidden" name="existingbcDatabaseReport" id="existingbcDatabaseReport">
                    <p id="existingbc"></p>
                  </div>
                </div>
              </div>
              <div class="container-fluid p-3 d-flex justify-content-center flex-wrap" id="barcode">
                <div id="bcDiv" style="width:240px" class="d-flex p-2">
                </div>
              </div>
              
              <div class="row d-flex justify-content-end mr-3">
                    <!-- <input class="btn btn-success mr-2" name="submit" type="submit" id="replaceButton" value="Replace"> -->
                    <input class="btn btn-sm btn-success mr-2" name="submit" type="button" id="register" value="Add Product">
                    <input class="btn btn-sm btn-success mr-2" name="submit" type="button" id="registerRevised" value="Add Revised Product">
                    <!-- <input type="hidden" name="barcode" id="checkBC"> -->
                    <input type="hidden" name="invoiceData" id="invoiceData">
                    <input type="hidden" name="customerData" id="customerData">
                  </div>
                <div class="container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>SL</th>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>MRP</th>
                        <th>Disc(%)</th>
                        <th>Flat Disc.</th>
                        <th>Sales Value</th>
                        <th>BC</th>
                      </tr>
                    </thead>
                    <tbody id="addedModel">
                      
                    </tbody>
                  </table>
                </div>
                <div class="container p-4">
                  <div class="row">
                    <div class="col">
                      <h5>Total Sales Value Tk. <span id="TPR">0</span></h5>
                    </div>
                    <div class="col d-flex justify-content-end">
                      <input class="btn btn-sm btn-success mr-2" name="sales" type="button" id="sendSalesData" value="Book Order" onclick="sendSalesData()">
                    </div>
                  </div>
                </div>
             <!-- </form> -->
            </div>
          </div>
         
        </div>
        
      </div>
      
      <div id="editForm" class="container mt-3">

      </div>
      
      <div class="container mt-2">

        <div class="container d-flex justify-content-end">
          <!-- <button class="btn btn-outline-info showChallanButton" data-toggle="collapse" data-target="#showChallan">
            All Challan
          </button> -->
        </div>
       
        <div id="showChallan" class="collapse mt-2"
          style="background-color: antiquewhite; padding-right: 15px; border-radius: 15px;">
          <div class="container p-2">
            <div class="row">
              <div class="col"></div>
               <div class="col d-flex justify-content-end searchDiv_1">
                <!-- <form action="/search" method="post"> -->
                <div class="container sticky" id="searchDiv_1">
                  <div class="input-group">
                    <input id="search_input" name="search_input" type="text" class="form-control"
                      placeholder="Search Invoice" />
                    <div class="input-group-append">
                      <button name="search_submit_button" class="btn btn-info" type="submit">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Sales Date</th>
                  <th>Invoice No</th>
                  <th>Customer Name</th>
                  <th>Amount</th>
                  <th>Edit</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody id="showChallanTable">
                  
              </tbody>
            </table>
        </div>
        
      </div>
      <div class="container">
        <div id="purchaseReturn" class="collapse mt-2 p-3" style="border-radius: 15px;">
          <div class="container-fluid p-0">
            <h4>Sales Return</h4>
          </div>
          <div class="input-group" style="max-width: 400px;">
            <input id="return_input" name="return_input" type="text" class="form-control"
              placeholder="Barcode" />
            <div class="input-group-append">
              <button name="search_return_input_button" class="btn btn-info" type="submit">
                Search Product
              </button>
            </div>
          </div>
          <div class="container">
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>MRP</th>
                    <th>Pur. Rate</th>
                    <th>Sale Value</th>
                    <th>Customer</th>
                    <th>R. Date</th>
                    <th>Return</th>
                  </tr>
                </thead>
                <tbody id="addedModelForReturn">
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function logout() {
      document.cookie = "pcs=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      location.href = "/";
    }
    $(document).ready(() => {
      $('#purchase').hide();
      $("#registerRevised").hide()
      $("#prodUpdatSuccessMsgDiv").hide()
      $("#existingBcDiv").hide()
      $("#replaceButton").hide()
      $('#flat_disc_button').click(() => {
        $('#disc_per').hide()
        $('#flat_disc_button').hide()
        $('#disc_button').removeClass('hide')
        $('#flat_disc').removeClass('hide')
        
      })

      $('#disc_button').click(() => {
        $('#disc_per').show()
        $('#flat_disc_button').show()
        $('#flat_disc').addClass('hide')
        $('#disc_button').addClass('hide')
      })
      // $('.model_search_div').hide()
      $(`button[name="search_submit_button"]`).click(() => {
        let SI = $(`input[name="search_input"]`).val()
        $.ajax({
          url: "/purchase/invoice_search",
          method: 'POST',
          data: {
            SI: SI
          },
          success: (result) => {
            if (result == "No challan found!") {
              alert ("No challan found!")
            } else {
              $("#showChallanTable").empty();
              result.forEach((e) => {
              let date = e.pur_date.slice(0, 10)
              $("#showChallanTable").append(`
                  <tr>
                    <td>
                      ${date}
                    </td>
                    <td>
                      ${e.invoice_no}
                    </td>
                    <td>
                      ${e.supplier}
                    </td>
                    <td>
                      ${e.net_total}
                    </td>
                    <td>
                      <button name="editChallan" id="editChallan" invoice="${e.invoice_no}" class="btn btn-warning">Edit</button>
                    </td>
                    <td>
                      <form action="/purchase/remove_invoice" method="post">
                        <input name="invoice" type="hidden" value="${e.invoice_no}">
                        <button class="btn btn-danger">Remove</button>
                      </form>
                    </td>
                  </tr>
            `)
            })
            
          }}
        })
      });
      $(`body`).on("click", '#editButton', (e) => {
        let cid = e.target.getAttribute('cid')
        $.ajax({
          url: "/customer/edit",
          method: 'POST',
          data: {
            cid: cid
          },
          success: (data) => {
            $('#editForm').html(data)
          }
        })
      
        
      });

      $(`button[name="edit"]`).click((e) => {
        let invoice = e.target.getAttribute('invoice')
        $.ajax({
          url: "/purchase/edit_invoice",
          method: 'POST',
          data: {
            invoice: invoice
          },
          success: (data) => {
            // $('#editForm').html(data)
          }
        })
      });

      $("body").on("click", "#cancel", () => {
        $('#editForm').empty()
      })  

      $(`button[name="model_search_submit_button"]`).click(() => {
        let SI = $(`input[name="model_search_input"]`).val()
        $.ajax({
          url: "/sales/search_model",
          method: 'POST',
          data: {
            barcode: SI
          },
          success: (data) => {
            if (data == "No product found!") {
              alert ("No product found!")
            } else {
              $('#model_search_result').empty();
                  $('#model_search_result').append(`
                  <tr>
                  <td><input onclick="addModel(1)" type="checkbox" name="model_select_checkbox" mrp="${data.mrp}" brand="${data.brand}" bc="${data.barcode}" color="${data.color}" product_code="${data.id}" id="1" value="${data.model}"></td>
                    <td>${data.model}</td>
                    <td>${data.color}</td>
                    <td>${data.mrp}</td>
                  </tr>`)
             
            }
            
          }
        })
      });
      
      $(`button[name="customer_search_submit_button"]`).click(() => {
        let customer = $(`input[name="customer_search_input"]`).val()
        $.ajax({
          url: "/sales/search_customer",
          method: 'POST',
          data: {
            customer: customer
          },
          success: (result) => {
            if (result == "No customer found!") {
              alert ("No customer found!")
            } else {
              $('#customer_search_result').empty();
              let count = 0;
            for (let i = 0; i < result.length; i++) {
                count++
              const data = result[i];
                  $('#customer_search_result').append(`
                  <tr>
                  <td><input onclick="addCustomer(${count})" type="checkbox" name="customer_select_checkbox" balance="${data.balance}" CID="${data.customer_id}" id="${count}" customer_name="${data.name}" customer_addr="${data.address}" customer_contact="${data.contact}"></td>
                    <td>${data.customer_id}</td>
                    <td>${data.name}</td>
                    <td>${data.address}</td>
                    <td>${data.balance}</td>
                  </tr>`)

            }
             
            }
            
          }
        })
      });
      
    })

    $(".addNewBC").click(() => {
      let count = $('#barcode > div > input').length
      count++
      let val = $('#qty').val()
      let int = Number(val)
      let qty = int + 1;
      $('#qty').val(qty)
      $('#barcode').append(`<div id="bc${count}" style="width:240px" class="d-flex p-2">
                  <input type="text" class="bc" name="b${count}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${count}" style='font-size:24px;cursor:pointer'></i>
                </div>`)
    })

    $(`input[name="qty"]`).keyup(function(e){
      
        // let count = $('#barcode > div > input').length
        //   let increase = count + 1;
        //   let val = $('#qty').val()
        //   let int = Number(val)
        //   if (int > count) {
        //     let add = int - count
        //     for (let i = 0; i < add; i++) {
        //       $('#barcode').append(`<div id="bc${increase}" style="width:240px" class="d-flex p-2">
        //           <input type="text" class="bc" name="b${increase}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${increase}" style='font-size:24px;cursor:pointer'></i>
        //         </div>`)
        //       increase++
        //     }
        //   }

        $('#barcode').empty()
        
        let val = $('#qty').val()
        let int = Number(val)
        for (let i = 0; i < int; i++) {
        $('#barcode').append(`<div id="bc${i}" style="width:240px" class="d-flex p-2">
                  <input type="text" class="bc" name="b${i}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${i}" style='font-size:24px;cursor:pointer'></i>
                </div>`)
        }
         
      });

      function addModel(a) {
        let val = document.getElementById(a).getAttribute('value');
        let mrp = document.getElementById(a).getAttribute('mrp');
        let color = document.getElementById(a).getAttribute('color');
        let bc = document.getElementById(a).getAttribute('bc');
        let brand = document.getElementById(a).getAttribute('brand');
        $('#model_selected').val('')
        $('#model_selected').val(val)
        $('#mrp').val(mrp)
        $('#color').val(color)
        $('.bc').val(bc)
        $('#brand').val(brand)
        $('#model_search_result').empty()
        $.ajax({
                url: "/purchase/getStock",
                type: "POST",
                data: {model : val},
                success: (stock) => {
                  $("#prev_stock").val(stock.length)
                }
              })
      }

      function addCustomer(a) {
        let C_name = document.getElementById(a).getAttribute('customer_name');
        let C_contact = document.getElementById(a).getAttribute('customer_contact');
        let C_addr = document.getElementById(a).getAttribute('customer_addr');
        let balance = document.getElementById(a).getAttribute('balance');
        let CID = document.getElementById(a).getAttribute('CID');
        $('#customer_selected').val('')
        $('#customer_selected').val(C_name)
        $('#customer_balance').val(balance)
        $('#customer_address').val(C_addr)
        $('#customer_contact').val(C_contact)
        $('#customer_id').val(CID)
        $('#customer_search_result').empty()
      }

      $("body").on("click", ".removeBC", (e) => {
        let divId = e.target.getAttribute("divId")
           $(`#${divId}`).remove()
        let val = $('#qty').val()
        let int = Number(val)
        let qty = int - 1;
        $('#qty').val(qty)
        }) 

      $("#disc_per").keyup(() => {
        let disc = $("#disc_per").val()
        let mrp = $('#mrp').val()
        $("#flat_disc").val("0")
        $("#sales_rate").val(mrp - ((mrp/100) * disc))
      })

      $("#flat_disc").keyup(() => {
        let disc = $("#flat_disc").val()
        let mrp = $('#mrp').val()
        $("#sales_rate").val(mrp - disc)
        let disc_per = (disc/mrp) * 100
        let t = String(disc_per)
        let val = t.slice(0, 5);
        Number(val)
        $("#disc_per").val(val)
      })

      let salesData = []
        function pushProduct(product) {
          salesData.push(product)
        }

        function checkTheBarcodeValidity(b) {
          if (salesData.length > 0) {
              let DuplicateBCFound = false;
                for (let i = 0; i < salesData.length; i++) {
                const e = salesData[i];
                let bc = e[1];
                if (bc.includes(b)) {
                  alert(`Duplicate barcode found! "${b}"`)
                  DuplicateBCFound = true;
                }
              }
                if (DuplicateBCFound == true) {
                  return true;
                } else {
                  return false
                }
            } else {
              return false;
              // bc.push(b)
             
            }
        }
        
        function modelValidityCheck() {
          let model = $('#model_selected').val()
          if (salesData.length > 0) {
              let DuplicateModelFound = false;
                for (let i = 0; i < salesData.length; i++) {
                const e = salesData[i];
                if (e[0] == model) {
                  alert("This model already exist in your order!")
                  DuplicateModelFound = true;
                }
              }
                if (DuplicateModelFound == true) {
                  return true;
                  
                } else {
                  return false;
                }
            } else {
              return false;
            }
        }

      $(`body`).on("click", '#removeProduct', (e) => {
        let pid = e.target.getAttribute("pid")
        const index = salesData.indexOf(salesData[pid]);
        if (index !== -1) {
          salesData.splice(index, 1);
        }

        $("#addedModel").empty()
        
        if (salesData.length > 0) {
          let netSale_2 = 0
        let count = 1
        for (let i = 0; i < salesData.length; i++) {
                        const e = salesData[i];
                        netSale_2 += Number(e[4])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[5]}
                            </td> 
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[7]}
                            </td>
                            <td>
                              ${e[4]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
          $("#TPR").text(netSale_2)
        } else {
          $("#TPR").text("0")
        }
        
      })

      $(".showChallanButton").click(() => {
        $.ajax({
          url: "/sales/challan",
          type: "post",
          success: (data) => {
            $("#showChallanTable").empty()
            data.forEach((e) => {
              let date = e.sales_date.slice(0, 10)
              $("#showChallanTable").append(`
                  <tr>
                    <td>
                      ${date}
                    </td>
                    <td>
                      ${e.invoice_no}
                    </td>
                    <td>
                      ${e.customer_name}
                    </td>
                    <td>
                      ${e.sales_value}
                    </td>
                    <td>
                      <button name="editChallan" id="editChallan" invoice="${e.invoice_no}" class="btn btn-warning">Edit</button>
                    </td>
                    <td>
                      <form action="/sales/remove_invoice" method="post">
                        <input name="invoice" type="hidden" value="${e.invoice_no}">
                        <button class="btn btn-danger">Remove</button>
                      </form>
                    </td>
                  </tr>
            `)
            })
            
          }
        })
      })

      $(`body`).on("click", '#editChallan', (e) => {
        salesData = [];
        $("#showChallanTable").empty()
        $(`button[name="CreateNewButton"]`).click()
        let invoice = e.target.getAttribute("invoice")
        $.ajax({
          url: "/sales/challan/edit",
          type: "post",
          data: {invoice: invoice},
          success: (result) => {
            result.forEach((e) => {
            let [model, barcode, date, color, sale_value, mrp, sale_disc_per, sale_flat_disc, sale_invoice_no, brand, plus] = [e.model, e.barcode, e.date, e.color, e.sale_value, e.mrp, e.sale_disc_per, e.sale_flat_disc, e.sale_invoice_no, e.brand, "+"]
            let product = [model, barcode, date, color, sale_value, mrp, sale_disc_per, sale_flat_disc, sale_invoice_no, brand, plus]
                    pushProduct(product)
            })

            $.ajax({
              url: "/sales/getCustomerData",
              type: "post",
              data: {invoice: invoice},
              success: (data) => {
                $('#customer_selected').val(`${data.name}`)
                $('#customer_balance').val(`${data.balance}`)
                $('#customer_address').val(`${data.address}`)
                $('#customer_contact').val(`${data.contact}`)
                $('#customer_id').val(`${data.customer_id}`)
              }
            })
            let netSale_2 = 0
                      let count = 1
                      for (let i = 0; i < salesData.length; i++) {
                        const e = salesData[i];
                        netSale_2 += Number(e[4])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td>  
                            <td>
                              ${e[5]}
                            </td> 
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[7]}
                            </td>
                            <td>
                              ${e[4]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netSale_2)
                      $('#purchase').show();
            
          }
        })
      })

      $(`body`).on("click", '#addProductEdit', (e) => {
        let challanEdit = e.target.getAttribute("challanEdit")
        if (challanEdit=="True") {
          $('#register').hide();
          $("#registerRevised").show()
        }
        $('#purchase').hide();
        let pid = e.target.getAttribute("pid")
        $('#model_selected').val(`${salesData[pid][0]}`)
        $('#brand').val(`${salesData[pid][9]}`)
        $('#color').val(`${salesData[pid][3]}`)
        $('.bc').val(`${salesData[pid][1]}`)
        $('#invoice').val(`${salesData[pid][8]}`)
        $('#sales_rate').val(`${salesData[pid][4]}`)
        $('#mrp').val(`${salesData[pid][5]}`)
        $('#disc_per').val(`${salesData[pid][6]}`)
        $('#flat_disc').val(`${salesData[pid][7]}`)
        // let product = [model, bc, date, color, sales_rate, mrp, disc_per, flat_disc, invoice, "+"]

        const index = salesData.indexOf(salesData[pid]);
        if (index !== -1) {
          salesData.splice(index, 1);
        }
        
        // Calculate total purchase
        let sales_rate = $('#sales_rate').val()
        let netPurchase = Number(sales_rate)
        let tpr = $("#TPR").text()
        let tprNum = Number(tpr)
        tprNum -= netPurchase;
        $("#addedModel").empty()
        $("#TPR").text(tprNum)
        let netSale_2 = 0
        let count = 1
        for (let i = 0; i < salesData.length; i++) {
                        const e = salesData[i];
                        netSale_2 += Number(e[4])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>
                            <td>
                              ${e[1]}
                            </td>  
                            <td>
                              ${e[5]}
                            </td> 
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[7]}
                            </td>
                            <td>
                              ${e[4]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
      })

      $(`body`).on("click", '#register', () => {
        $("#existingBcDiv").hide()
        
          let date = $('#sales_date').val()
                          let model = $('#model_selected').val()
                          let brand = $('#brand').val()
                          let color = $('#color').val()
                          let bc = $('.bc').val()
                          let invoice = $('#invoice').val()
                          let sales_rate = $('#sales_rate').val()
                          let mrp = $('#mrp').val()
                          let disc_per = $('#disc_per').val()
                          let flat_disc = $('#flat_disc').val()
                          let customer_selected = $('#customer_selected').val()
                          if (flat_disc == "") {
                            flat_disc = 0
                          }
                          if (disc_per == "" && flat_disc == "") {
                            disc_per = 0
                            flat_disc = 0
                            sales_rate = mrp
                          }
                          
                        let product = [model, bc, date, color, sales_rate, mrp, disc_per, flat_disc, invoice, brand, "+"]
                        let confirmRequiredInput = [customer_selected, model, bc, date, color, sales_rate, mrp]
                        for (let i = 0; i < confirmRequiredInput.length; i++) {
                          const elem = confirmRequiredInput[i];
                          if (elem == "") {
                            alert(`Some input value is required!`)
                            return;
                          }
                        }

                        if (checkTheBarcodeValidity(bc) == true) {
                            return;
                          } 
                        pushProduct(product)

                        $('#model_selected').val("")
                        $('#disc_per').val("")
                        $('#flat_disc').val("")
                        $('#sales_rate').val("")
                        $('#prev_stock').val("")
                        $('#color').val()
                        $('#brand').val()
                        $('#mrp').val("")
                        $('.bc').val("");
                        $("#addedModel").empty()
                        let netSale_2 = 0
                      let count = 1
                      for (let i = 0; i < salesData.length; i++) {
                        const e = salesData[i];
                        netSale_2 += Number(e[4])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>
                             <td>
                              ${e[9]}
                            </td>  
                            <td>
                              ${e[5]}
                            </td> 
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[7]}
                            </td>
                            <td>
                              ${e[4]}
                            </td>
                             <td>
                              ${e[1]}
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netSale_2)
                      $('#purchase').show();
      })

      $(`body`).on("click", '#registerRevised', () => {
        $("#existingBcDiv").hide()
        let bc = []
        let isBCOk = true;
        let isBarcodeEmpty = false;
        document.querySelectorAll('.bc').forEach((e) => {
          let b = e.value
          if (b == ""){
            alert("Missing Barcode!!!")
            isBarcodeEmpty = true;
          }
        })

        if (isBarcodeEmpty == false) {
          document.querySelectorAll('.bc').forEach((e) => {
          let b = e.value
          if (checkTheBarcodeValidity(b) == true) {
              isBCOk = false;
            } else {
              bc.push(b)
            }
            
        })
       
        if (isBCOk == true) {
          if (modelValidityCheck() == true) {
                      $("#addedModel").empty()
                      if (salesData.length > 0) {
                      let netSale_2 = 0
                      let count = 1
                      for (let i = 0; i < salesData.length; i++) {
                        const e = salesData[i];
                        netSale_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netSale_2)
                      return;
                    }
                      
                    } else {

                      let pur_date = $('#pur_date').val()
                          let challan = $('#challan').val()
                          let invoice = $('#invoice').val()
                          let supplier = $('#supplier').val()
                          let model = $('#model_selected').val()
                          let qty = $('#qty').val()
                          let godown = $('#godown').val()
                          let color = $('#color').val()
                          let prev_stock = $('#prev_stock').val()
                          let sales_rate = $('#sales_rate').val()
                          let mrp = $('#mrp').val()
                          let disc_per = $('#disc_per').val()
                          let flat_disc = $('#flat_disc').val()
                          let customer_selected = $('#customer_selected').val()
                          if (flat_disc == "") {
                            flat_disc = 0
                          }
                          if (disc_per == "" && flat_disc == "") {
                            disc_per = 0
                            flat_disc = 0
                            sales_rate = mrp
                          }
                        let product = [model, qty, bc, pur_date, invoice, supplier, godown, color, prev_stock, sales_rate, mrp, disc_per, flat_disc, "+"]
                        let confirmRequiredInput = [customer_selected, model, qty, pur_date, invoice, supplier, godown, color, mrp]
                        for (let i = 0; i < confirmRequiredInput.length; i++) {
                          const elem = confirmRequiredInput[i];
                          if (elem == "") {
                            alert(`Some input value is required!`)
                            return;
                          }
                        }
                        pushProduct(product)

                        $('#model_selected').val("")
                        $('#qty').val("")
                        $('#disc_per').val("")
                        $('#flat_disc').val("")
                        $('#sales_rate').val("")
                        $('#mrp').val("")
                        $('#barcode').empty();
                        $("#addedModel").empty();

                        // pushProduct(product)
                        $("#addedModel").empty()
                        let netSale_2 = 0
                      let count = 1
                      for (let i = 0; i < salesData.length; i++) {
                        const e = salesData[i];
                        netSale_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[6]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netSale_2)
                      $('#purchase').show();

                    }
        }}
        
      })

      $(`button[name="search_return_input_button"]`).click(() => {
        let barcode = $("#return_input").val()
        $.ajax({
          url: "/purchase/getDataForReturn",
          type: "post",
          data: {barcode: barcode},
          success: (e) => {
            if (e !== "Barcode not found!") {
            if (e[0].status == "Returned") {
              alert("This product has already been returned!")
            } else if (e[0].status == "Stock") {
              alert("This product has not yet been sold!")
            } else {
              // <th>Model</th>
              //       <th>Brand</th>
              //       <th>MRP</th>
              //       <th>Pur. Rate</th>
              //       <th>Sale Value</th>
              //       <th>Customer</th>
              //       <th>R. Date</th>
              //       <th>Return</th>
            $("#addedModelForReturn").empty()
            $("#addedModelForReturn").append(`
                          <tr>
                            <td>
                              ${e[0].model}
                            </td>  
                            <td>
                              ${e[0].brand}
                            </td> 
                            <td>
                              ${e[0].mrp}
                            </td>
                            <td>
                              ${e[0].pur_rate}
                            </td>
                            <td>
                              ${e[0].sale_value}
                            </td>
                            <td id=customerName>
                              
                            </td>
                            <td>
                                <input type="date" name="returnDate" id="returnDate">
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="return_input_button" barcode="${e[0].barcode}">Return</button>
                            </td>
                          </tr>
                        `)

                $.ajax({
                  url: "/sales/get_customer_name",
                  type: "post",
                  data: {CID: e[0].customer_id},
                  success: (data) => {
                    $("#customerName").text(data.name)
                  }
                })
            }
          } else {
            alert(e)
          }
          }
        })
       
      })
      
      $("body").on("click", "#return_input_button", (e) => {
        let barcode = e.target.getAttribute("barcode")
        let returnDate = $("#returnDate").val()
         $.ajax({
          url: "/sales/return",
          type: "post",
          data: {barcode : barcode, returnDate : returnDate},
          success: (data) => {
            $("#addedModelForReturn").empty()
            $("#return_input").val("")
            alert(data) 
            location.reload()             
          }
        })
      })


      function sendSalesData() {
        let C_name = $('#customer_selected').val()
                          let balance = $('#customer_balance').val()
                          let C_addr = $('#customer_address').val()
                          let C_contact = $('#customer_contact').val()
                          let CID = $('#customer_id').val()
        let customerData = [CID, C_name, C_addr, C_contact, balance]
        for (let i = 0; i < customerData.length; i++) {
                          const elem = customerData[i];
                          if (elem == "") {
                            alert(`Some input value is required!`)
                            return;
                          }
                        }
        if (salesData.length < 1) {
          alert(`Select products for sale order!`)
          return;
        }
        $("#invoiceData").val(salesData)
        $("#customerData").val(customerData)
        
        let _data = $("#invoiceData").val()
        let C_Data = $("#customerData").val()
          $.ajax({
            url: '/sales/new',
            type: 'POST',
            data: {
              data : _data,
              C_Data: C_Data,
            },
            success: (data) => {
              if (data.prodUpdatSuccessMsg) {
                $("#addedModel").empty()
                $("#TPR").text("0")
                // $('#invoice').val("")
                salesData = []

                alert(data.prodUpdatSuccessMsg)
                // $("#prodUpdatSuccessMsg").text(data.prodUpdatSuccessMsg)
                // $("#prodUpdatSuccessMsgDiv").show()
                location.reload()
              }
            }
          })
        
        }
      
  </script>
</body>