<div class="container">
        <p class="navHead" data-toggle="collapse" data-target="#basic_module">
          <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Basic
          Module
        </p>

        <div id="basic_module" class="collapse">
          <ul>
            <li>
              <a class="" style="text-decoration: none" href="/companies">Companies</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/categories">Categories</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/color">Color</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/products">Products</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/bank">Bank</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/godown">Godowns</a>
            </li>
            <!-- <li>
              <a class="" style="text-decoration: none" href="/card">Card</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#staff">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Staff
          </p>
          <div id="staff" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/employee">Employee</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#C_S">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Customers & Suppliers
          </p>

          <div id="C_S" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/customer">Customers</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/supplier">Suppliers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#inventory_management">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Inventory Management
          </p>

          <div id="inventory_management" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/purchase">Purchase Order</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/sales">Sales Order</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Hire Sales</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Sales Return</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Replacement Order</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Stock Details</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Purchase Return</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Transfer</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#accounts">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Accounts Management
          </p>

          <div id="accounts" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/#">Income/Exp Head</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Expense</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Cash Collection</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Cash Delivery</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Income</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Bank Transaction</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#reports">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; MIS
            Reports
          </p>
          <div id="reports" class="collapse">
            <div class="mt-3">
              <div class="container-fluid">
                <p class="navHead" data-toggle="collapse" data-target="#BR">
                  <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Basic Report
                </p>

                <div id="BR" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Employ Information</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Stock Forcasting Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Stock Details Report</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <p class="navHead" data-toggle="collapse" data-target="#PR">
                  <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Purchase Report
                </p>

                <div id="PR" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Supplier Ledger</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Daily Purchase Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Monthly Purchase Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Yearly Purchase Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Supplier Wise Purchasd</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Supplier Cash Delivery</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Supplier Due Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Model Wise Purchase</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <p class="navHead" data-toggle="collapse" data-target="#SR">
                  <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Sales Report
                </p>

                <div id="SR" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Customer Ledger</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Daily Sales Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Monthly Sales Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Yearly Sales Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Model Wise Sales</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <p class="navHead" data-toggle="collapse" data-target="#HSR">
                  <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Hire Sales Report
                </p>

                <div id="HSR" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Installment Collection</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Upcoming Installment</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Defaulting Customer</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Default Customer Summary</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Hire Account Details</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <p class="navHead" data-toggle="collapse" data-target="#MR">
                  <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Management Report
                </p>

                <div id="MR" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Expense Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Product Wise Benefit Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Income Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Adjustment Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Monthly Transaction Report</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <p class="navHead" data-toggle="collapse" data-target="#BTR">
                  <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Bank Report
                </p>

                <div id="BTR" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Bank Transaction Report</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Bank Statement</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <a class="navHead" style="text-decoration: none" href="/#">
                  Advance Search
                </a>
              </div>
            </div>
            <div class="mt-3">
              <div class="container-fluid">
                <a class="navHead" style="text-decoration: none" href="/#">Transfer Report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#AR">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Accounting Report
          </p>

          <div id="AR" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/#">Cash In Hand</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Profit & Loss Account</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Balance Sheet</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#IR">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Investment Report
          </p>

          <div id="IR" class="collapse">
            <div class="mt-3">
              <div class="container">
                <p class="navHead" data-toggle="collapse" data-target="#asset">
                  Asset
                </p>

                <div id="asset" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Fixed Asset</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Current Asset</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="container">
                <p class="navHead" data-toggle="collapse" data-target="#liability">
                  Liability
                </p>

                <div id="liability" class="collapse">
                  <ul>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Liability Receive</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Liability Pay</a>
                    </li>
                    <li>
                      <a class="" style="text-decoration: none" href="/#">Liability Report</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#UA">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            User Account
          </p>

          <div id="UA" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/#">Change Password</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>